.content-box {
	background-color: #e8e8e8;
	border-radius: 4px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 20px;
}

.content-box.aux {
    width: 125px;
}

.content-box h3 {
	margin-right: 10px;
    display: inline;
}

.info-line {
    display: block;
}
.info-line .line-header {
    font-weight: bold;
    margin-right: 6px;
}

.navbar .nav.pull-right {
	margin-right: 25px;
}