.info-line {
    display: block;
    margin-bottom: 2px;
}
.info-line .line-header {
    font-weight: bold;
    margin-right: 6px;
}

.navbar .nav.pull-right {
	margin-right: 25px;
}

.noDisplay {
	display: none;
}


.well-header {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}

.teams-details {
	margin-bottom: 20px;
}

.teams-details ol {
	margin-top: 3px;
}

.form-actions {
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.form-actions form{
   display: inline;
}

.players-list {
	width: 260px;
}

.jTemplate {
	display:none;
}

.confirmed-players {
	margin-top: 10px;
}

.form-section {
    margin-bottom: 10px;
}