#{extends 'main.html' /}
#{set title:'Pyscho Futbol - Canchas' /}
#{set menuItem:'nav-venues' /}

<div class="row">

<div class="span4">
#{form @Venues.postVenue(), class:'well form-inline'}
    <fieldset>
      <legend>Cargar nueva cancha</legend>
      <div class="control-group">
        <label class="control-label" for="name">Nombre</label>
        <div class="controls">
            <input type="text" id="name" name="name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="address">Direccion</label>
        <div class="controls">
            <input type="text" id="address" name="address">
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </fieldset>
#{/form}
</div>

#{if venues.size()}
<div class="span8">
<div class="well">
<legend>Canchas</legend>
<dl>
	#{list items:venues, as:'venue'}
	    <dt>${venue.name}</dt>
	    <dd><em>Dirección</em> ${venue.address}</dd>
	#{/list}
</dl>
</div>
</div>
#{/if}
#{else}
<div class="span8">
	<div class="alert alert-info">
	    No hay canchas cargadas
	</div>
</div>
#{/else}

</div>