        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                   <a class="brand" href="/">psycho futbol</a>
                   <div class="nav-collapse">
                    <ul class="nav">
                      <li id="nav-match"><a href="#">Cargar partido</a></li>
                      <li id="nav-strikers"><a href="#">Tabla de goleadores</a></li>
                      <li id="nav-historic"><a href="#">Historial</a></li>
                      <li id="nav-players"><a href="/players">Jugadores</a></li>
                    </ul>
                    <ul class="nav pull-right">
                       <li><a href="@{Secure.logout()}">Log out</a></li>
                    </ul>
                   </div>
                </div>
            </div>
        </div>