#{extends 'main.html' /}
#{set title:'Pyscho Futbol - Jugadores' /}
#{set menuItem:'nav-players' /}

<div class="row">
	<div class="span8">
		<div class="well">
		<span class="well-header">${playerStat.player.username}</span>
		<div class="info-line">
		  <span class="line-header">Nombre completo</span>${playerStat.player.firstName} ${playerStat.player.lastName}
		</div>
		<div class="info-line">
		  <span class="line-header">Partidos jugados</span>${playerStat.victories + playerStat.draws + playerStat.defeats}
		</div>
		<div class="info-line">
		  <span class="line-header">Ganados</span>${playerStat.victories}
		</div>
		<div class="info-line">
		  <span class="line-header">Empatados</span>${playerStat.draws}
		</div>
		<div class="info-line">
		  <span class="line-header">Perdidos</span>${playerStat.defeats}
		</div>
		</div>
	</div>
</div>