#{extends 'main.html' /}
#{set title:'Pyscho Futbol - Jugadores' /}
#{set 'moreScripts'}
    #{script 'jquery.tablesorter.min.js'/}
    #{script 'players.js'/}
#{/set}
#{set menuItem:'nav-players' /}

#{if playerStats.size()}
<div class="row">
    <div class="span12">
        <span class="well-header">Jugadores</span>
        <table id="jPlayerStats" class="table well">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ganados</th>
                    <th>Empatados</th>
                    <th>Perdidos</th>
                    <th>Goles</th>
                </tr>
            </thead>
            <tbody>
	        #{list items:playerStats, as:'stat'}
	            <tr>
	               <td><a href="/players/${stat.player.username}/">${stat.player.username} (${stat.player.firstName} ${stat.player.lastName})</a></td>
	               <td>${stat.victories}</td>
	               <td>${stat.draws}</td>
	               <td>${stat.defeats}</td>
	               <td>${stat.goals}</td>
	            </tr>
	        #{/list}
	        </tbody>
        </table>
    
    </div>
</div>
#{/if}