#{extends 'main.html' /}
#{set title:'Pyscho Futbol - Historial de Partidos' /}
#{set menuItem:'nav-historic' /}

#{if matches.size()}
<div class="row">
    <div class="span12">
        <span class="well-header">Partidos</span>
        <table id="jMatches" class="table well">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Goles A</th>
                    <th>Goles B</th>
                    <th>Goleador</th>
                </tr>
            </thead>
            <tbody>
            #{list items:matches, as:'match'}
                <tr>
                   <td><a href="@{Matches.detail(match.id)}">${match.date.format('dd/MM/yyyy')}</a></td>
                   <td>${match.goalsTeamA}</td>
                   <td>${match.goalsTeamB}</td>
                   <td>
                    #{if match.striker().goals}
                    ${match.striker().playerDisplayName} (${match.striker().goals})
                    #{/if}
                    #{else}
                        -
                    #{/else}
                   </td>
                </tr>
            #{/list}
            </tbody>
        </table>
    
    </div>
</div>
#{/if}
#{else}
<div class="alert alert-info">
    No hay partidos jugados en el historial.
</div>
#{/else}