#{extends 'main.html' /}
#{set title:'Pyscho Futbol - Historial de Partidos' /}
#{set menuItem:'nav-input' /}

<div class="row">
    <div class="span8">
    <div class="well">
    #{form @Matches.postMatch(), class:'form-horizontal'}
 
    #{ifErrors}
        <p class="error">
            All fields are required!
        </p>
    #{/ifErrors}
 
    <fieldset>
      <legend>Nuevo partido</legend>
      <div class="control-group">
        <label class="control-label" for="date">Fecha</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="date" name="date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="venue">Cancha</label>
        <div class="controls">
			#{select 'venueId', items:venues, labelProperty: 'name'}
			#{/select}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </fieldset>
        
    #{/form}
    </div>
    </div>
</div>