#{extends 'main.html' /}
#{set title:'Pyscho Futbol' /}

#{if pendingMatch}
    <span id="jLoggedUser"class="noDisplay">${loggedPlayer.username}</span>
    <div class="row">
    <div class="span8">
        <div class="well">
            <h2><a href="@{Matches.detail(pendingMatch.id)}">Próximo partido</a></h2>
            <div class="info-line">
              <span class="line-header">Fecha</span>${pendingMatch.date.format('dd/MM/yyyy')}
            </div>
            <div class="info-line">
              <span class="line-header">Lugar</span>${pendingMatch.venue.name}
            </div>
            <div class="info-line">
              <span class="line-header">Jugadores confirmados</span>${pendingMatch.participations.size()}
            </div>
            <div class="form-actions">
                #{if loggedPlayer.hasJoined(pendingMatch)}
	                #{form @Matches.leave(pendingMatch.id), method: 'POST'}
	                <button type="submit" class="btn btn-warning">Abandonar</button>
	                #{/form}
                #{/if}
                #{else}
	                #{form @Matches.join(pendingMatch.id), method: 'POST'}
	                <button type="submit" class="btn btn-primary">Unirme</button>
	                #{/form}
                #{/else}
                
                #{form @Matches.detail(pendingMatch.id)}
                <button type="submit" class="btn btn-info">Detalles</button>
                #{/form}
            </div>
        </div>
    </div>
</div>
#{/if}

<div class="row">
    #{if lastMatch}
	<div class="span4">
        <div class="well">
            <h3><a href="@{Matches.detail(lastMatch.id)}">Último partido</a></h3>
            <div class="info-line">
                <span class="line-header">Fecha</span>${lastMatch.date.format('dd/MM/yyyy')}
            </div>
            <div class="info-line">
                <span class="line-header">Resultado</span>${lastMatch.goalsTeamA} - ${lastMatch.goalsTeamB}
            </div>
            <div class="info-line">
                <span class="line-header">Goleador</span>${lastMatch.striker().playerDisplayName}
            </div>
        </div>
	</div>
	#{/if}
	#{if mvp}
	<div class="span4 offset1">
        <div class="well">
            <h4>MVP</h4>
            <h3><a href="@{Players.detail(mvp.player.username)}">${mvp.player.firstName} ${mvp.player.lastName}</a></h3>
            <div class="info-line">
                <span class="line-header">Partidos ganados</span>${mvp.victories}
            </div>
        </div>
    </div>
    #{/if}
</div>

<div class="row">
    #{if striker}
    <div class="span4">
        <div class="well">
            <h4>Pichichi</h4>
            <h3><a href="@{Players.detail(striker.player.username)}">${striker.player.firstName} ${striker.player.lastName}</a></h3>
            <div class="info-line">
                <span class="line-header">Goles</span>${striker.goals}
            </div>
            <div class="info-line">
                <span class="line-header">Último gol</span>${striker.lastGoal.format('dd/MM/yyyy')}
            </div>
        </div>
    </div>
    #{/if}
    #{if lvp}
    <div class="span4 offset1">
        <div class="well">
            <h4>Piedra</h4>
            <h3><a href="@{Players.detail(lvp.player.username)}">${lvp.player.firstName} ${lvp.player.lastName}</a></h3>
            <div class="info-line">
                <span class="line-header">Partidos perdidos</span>${lvp.defeats}
            </div>
        </div>
    </div>
    #{/if}
</div>

#{ifnot pendingMatch}
<div class="alert alert-info #{get 'newMatchClass' /}">
  No hay próximos partidos agendados! <a href="@{Matches.newMatch}">Cargar uno</a>.
</div>
#{/ifnot}