#{extends 'main.html' /}
#{set title:'Pyscho Futbol' /}

<div class="row">
    <div class="span8">
        <div class="content-box">
            <h2><a href="#">Próximo partido</a></h2>
            <div class="info-line">
              <span class="line-header">Fecha</span>05/03/2012
            </div>
            <div class="info-line">
              <span class="line-header">Lugar</span>Open Gallo
            </div>
            <div class="info-line">
              <span class="line-header">Jugadores confirmados</span>6
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="span4">
        <div class="content-box">
            <h3><a href="#">Último partido</a></h3>
            <div class="info-line">
                <span class="line-header">Fecha</span>05/03/2012
            </div>
            <div class="info-line">
                <span class="line-header">Resultado</span>4-3
            </div>
            <div class="info-line">
                <span class="line-header">Goleador</span>Federico Molina
            </div>
        </div>
	</div>
	<div class="span4 offset1">
        <div class="content-box">
            <h4>MVP</h4>
            <h3><a>${mvp.firstName} ${mvp.lastName}</a></h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <div class="content-box">
            <h4>Pichichi</h4>
            <h3><a>${pichichi.firstName} ${pichichi.lastName}</a></h3><span>(10 goles)</span>
        </div>
    </div>
    <div class="span4 offset1">
        <div class="content-box">
            <h4>Piedra</h4>
            <h3><a>${piedra.firstName} ${piedra.lastName}</a></h3>
        </div>
    </div>
</div>