#{extends 'main.html' /}
#{set title:'Pyscho Futbol' /}

#{if pendingMatch}
    <div class="row">
    <div class="span8">
        <div class="content-box">
            <h2><a href="#">Próximo partido</a></h2>
            <div class="info-line">
              <span class="line-header">Fecha</span>${pendingMatch.date.format('dd/MM/yyyy')}
            </div>
            <div class="info-line">
              <span class="line-header">Lugar</span>${pendingMatch.venue.name}
            </div>
            <div class="info-line">
              <span class="line-header">Jugadores confirmados</span>${pendingMatch.participations.size()}
            </div>
            <div class="match-actions">
                #{form @Matches.cancel(pendingMatch.id), class:'form-inline'}
                <a class="btn" href="#">Cargar datos</a>
                <button type="submit" class="btn">Cancelar partido</button>
                #{/form}
            </div>
        </div>
    </div>
</div>
#{/if}

<div class="row">
	<div class="span4">
        <div class="content-box">
            <h3><a href="#">Último partido</a></h3>
            <div class="info-line">
                <span class="line-header">Fecha</span>${lastMatch.date.format('dd/MM/yyyy')}
            </div>
            <div class="info-line">
                <span class="line-header">Resultado</span>${lastMatch.goalsTeamA} - ${lastMatch.goalsTeamB}
            </div>
            <div class="info-line">
                <span class="line-header">Goleador</span>${lastStriker.playerDisplayName}
            </div>
        </div>
	</div>
	<div class="span4 offset1">
        <div class="content-box">
            <h4>MVP</h4>
            <h3><a href="@{Players.detail(mvp.player.username)}">${mvp.player.firstName} ${mvp.player.lastName}</a></h3>
            <div class="info-line">
                <span class="line-header">Partidos ganados</span>${mvp.victories}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <div class="content-box">
            <h4>Pichichi</h4>
            <h3><a href="@{Players.detail(striker.player.username)}">${striker.player.firstName} ${striker.player.lastName}</a></h3>
            <div class="info-line">
                <span class="line-header">Goles</span>${striker.goals}
            </div>
            <div class="info-line">
                <span class="line-header">Último gol</span>${striker.lastGoal.format('dd/MM/yyyy')}
            </div>
        </div>
    </div>
    <div class="span4 offset1">
        <div class="content-box">
            <h4>Piedra</h4>
            <h3><a href="@{Players.detail(lvp.player.username)}">${lvp.player.firstName} ${lvp.player.lastName}</a></h3>
            <div class="info-line">
                <span class="line-header">Partidos perdidos</span>${lvp.defeats}
            </div>
        </div>
    </div>
</div>

#{ifnot pendingMatch}
	<div class="alert alert-info">
	  No hay próximos partidos agendados! <a href="@{Matches.input}">Cargar uno</a>.
	</div>
#{/ifnot}