<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta content="text/html;" http-equiv="content-type" charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="UTF-8"></script>
        <script type="text/javascript">
        var psfutbol = {
        		api: {
        			// TODO usar jsAction
        			setTeam: #{jsAction @Matches.setTeam(':matchId', ':participationId', ':team') /}
        		}
        };
        $(document).ready(function(){
        	// Cada template indica qué elemento del menu resaltar
            $("##{get 'menuItem' /}").addClass("active");
        });
        </script>
        #{get 'moreScripts' /}
    </head>
    <body>
    
    <div class="container">
        #{navbar /}
        #{doLayout /}
    </div>
    
    </body>
</html>
