<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta content="text/html;" http-equiv="content-type" charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/style.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="UTF-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    
    <div class="container">
    
    <div class="navbar">
	    <div class="navbar-inner">
	        <div class="container">
	           <a class="brand" href="/">psycho futbol</a>
<!-- 	           <div class="nav-collapse"> -->
<!-- 	            <ul class="nav"> -->
<!-- 	              <li id="nav-historic"><a href="@{Matches.list}">Historial</a></li> -->
<!-- 	              <li id="nav-players"><a href="@{Players.list}">Jugadores</a></li> -->
<!-- 	              <li id="nav-venues"><a href="@{Venues.list}">Canchas</a></li> -->
<!-- 	            </ul> -->
<!-- 	            <ul class="nav pull-right"> -->
<!-- 	               <li> -->
<!-- 	                <a href="@{Secure.logout()}">Log out</a> -->
<!-- 	               </li> -->
<!-- 	            </ul> -->
<!-- 	           </div> -->
	        </div>
	    </div>
    </div>
    
        #{doLayout /}
    </div>
    
    </body>
</html>
